@import "../../styles/mixins.scss";

.credits {
	&__body {
		display: flex;
		align-items: center;
		gap: convertPXtoREM(32);
		& > * {
			width: calc(50% - convertPXtoREM(17));
			flex: 1 1 0;
			@media screen and (width <= 768px) {
				width: calc(50% - 12px);
			}
			@media screen and (width <= 700px) {
				width: 100%;
			}
		}
		@media screen and (width <= 768px) {
			gap: convertPXtoREM(24);
		}
		@media screen and (width <= 700px) {
			flex-direction: column;
		}
	}
	&__title {
		margin-bottom: convertPXtoREM(18);
		@media screen and (width <= 768px) {
			margin-bottom: convertPXtoREM(15);
		}
		@media screen and (width > 700px) {
			text-align: left;
		}
	}
	&__text p {
		line-height: 1.75;
		color: var(--dark-gray);
		@media screen and (width <= 700px) {
			text-align: center;
		}
		&:not(:last-child) {
			margin-bottom: convertPXtoREM(24);
		}
	}
	&__picture {
		background-image: url(../../../public/img/credits/creditsBG.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
