@import "../../styles/mixins.scss";

.info {
	margin-bottom: convertPXtoREM(80);
	@media screen and (width <= 768px) {
		margin-bottom: convertPXtoREM(56);
	}
	&__body {
		max-width: 800px;
		margin: 0 auto;
	}
	&__title {
		line-height: 1.4;
		margin-bottom: convertPXtoREM(44);
		@media screen and (width <= 768px) {
			margin-bottom: convertPXtoREM(30);
		}
	}
}

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: convertPXtoREM(30);
	column-gap: convertPXtoREM(32);
	@media screen and (width <= 768px) {
		column-gap: convertPXtoREM(24);
	}
	@media screen and (width < 700px) {
		grid-template-columns: 1fr;
		row-gap: convertPXtoREM(20);
	}
	&__input {
		background-color: var(--extralight-gray);
		border-radius: 4px;
		height: convertPXtoREM(64);
		width: 100%;
		padding: convertPXtoREM(16);
		font-size: convertPXtoREM(18);
		color: var(--black);
		border: 2px solid var(--extralight-gray);
		transition: all 0.3s ease;
		position: relative;
		&::placeholder {
			color: var(--gray);
		}
		&:focus {
			background-color: var(--white);
			border: 2px solid var(--mid-grey);
		}
		&:hover {
			background-color: var(--light-gray);
			border: 2px solid var(--mid-grey);
		}
		&:active {
			background-color: var(--white);
			border: 2px solid var(--mid-grey);
		}
		&.invalid {
			border: 2px solid var(--dangerous);
			background-color: var(--white);
			&::before {
				content: url("../../../public/icon/cancel.svg");
				position: absolute;
				width: 24px;
				height: 24px;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				transition: all 0.3s ease;
			}
		}
	}

	&__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
		& + label {
			display: inline-flex;
			align-items: center;
			user-select: none;
			cursor: pointer;
		}
		& + label::before {
			content: "";
			display: inline-block;
			width: convertPXtoREM(24);
			height: convertPXtoREM(24);
			flex-shrink: 0;
			flex-grow: 0;
			margin-right: 0.5rem;
			background-image: url("../../../public/icon/checkboxS.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		&:checked + label::before {
			background-image: url("../../../public/icon/checkboxC.svg");
		}
	}
}
