@import "../../styles/mixins.scss";

.questions {
	&__title {
		margin-bottom: convertPXtoREM(41);
		@media screen and (width < 375px) {
			margin-bottom: convertPXtoREM(26);
		}
	}
	&__body {
		margin: 0 auto;
		max-width: 1008px;
	}
	&__item {
		cursor: pointer;
		border-top: 1px solid var(--extralight-gray);
		padding: convertPXtoREM(24) 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: convertPXtoREM(18);
		line-height: 1.78;
		@media screen and (width <= 375px) {
			font-size: convertPXtoREM(16);
			padding: convertPXtoREM(16) 0;
		}
		& > * {
			transition: all 0.3s ease;
			padding-right: convertPXtoREM(72);
			@media screen and (width <= 375px) {
				padding-right: convertPXtoREM(60);
			}
		}
		&:hover .questions__question {
			color: var(--primary);
		}
	}
	&__question {
		position: relative;
		font-weight: 600;
		&::after {
			content: url("../../../public/icon/plus.svg");
			position: absolute;
			width: 24px;
			height: 24px;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s ease;
		}
		&.open::after {
			transform: translateY(-50%) rotate(45deg);
		}
	}
	&__answer {
		color: var(--dark-gray);
		overflow: hidden;
		max-height: 0;
		&.open {
			margin-top: convertPXtoREM(24);
			max-height: 1000px;
		}
	}
}
