@import "../../styles/mixins.scss";

.info {
	background-color: var(--extralight-gray);
	padding: convertPXtoREM(68) 0;
	@media screen and (width <= 768px) {
		padding: convertPXtoREM(20) 0;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: convertPXtoREM(32);
		row-gap: convertPXtoREM(37);
		@media screen and (width <= 768px) {
			grid-template-columns: 1fr;
			row-gap: convertPXtoREM(20);
		}
	}
	&__item {
		line-height: 1.75;
	}
	&__title {
		font-weight: 600;
		font-size: convertPXtoREM(18);
		margin-bottom: convertPXtoREM(17);
		@media screen and (width <= 768px) {
			margin-bottom: convertPXtoREM(14);
		}
	}
}
