.firstscreen {
	min-height: 100dvh;
	background:
		linear-gradient(rgba(42, 108, 234, 0.8), rgba(42, 108, 234, 0.8)),
		url(../../../public/img/firstscreen.png) no-repeat center/cover;
	display: flex;
	align-items: center;
	&__body {
		text-align: center;
		margin: 0 18%;
		color: var(--white);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		color: var(--white);
		margin-bottom: 18px;
	}

	&__text {
		color: var(--white);
		line-height: 1.78;
		margin-bottom: 92px;
	}
}

.firstscreen__button {
	line-height: 1.78;
}
