@import "../../styles/mixins.scss";

.firstscreen {
	min-height: 100dvh;
	background:
		linear-gradient(rgba(42, 108, 234, 0.8), rgba(42, 108, 234, 0.8)),
		url(../../../public/img/firstscreen.png) no-repeat center/cover;
	display: flex;
	align-items: center;
	&__body {
		margin: 0 18%;
		color: var(--white);
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (width <= 375px) {
			margin: 0 7%;
		}
	}
	&__title {
		color: var(--white);
		margin-bottom: convertPXtoREM(18);
		@media screen and (width <= 375px) {
			margin-bottom: convertPXtoREM(10);
		}
	}

	&__text {
		color: var(--white);
		line-height: 1.75;
		margin-bottom: convertPXtoREM(92);
		@media screen and (width <= 768px) {
			font-size: convertPXtoREM(16);
			margin-bottom: convertPXtoREM(40);
		}
		@media screen and (width <= 375px) {
			margin-bottom: convertPXtoREM(26);
		}
	}
	&__button {
		background-color: var(--light-gray);
		color: var(--black);
		&:hover {
			background: var(--white);
		}
	}
}
