@import "../../styles/mixins.scss";

.swiper__body {
	padding: 32px 55px 45px 55px;
	position: relative;
	@media screen and (width <= 768px) {
		padding: 0;
		padding-bottom: 35px;
		margin: -16px;
	}
}
.mySwiper {
	margin: -16px;
	padding: 16px;
}

.swiper__buttons {
	@media screen and (width <= 768px) {
		display: none;
	}
}

.slide {
	padding: 32px 16px;
	height: 100%;
	&__content {
		box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
		background: var(--white);
		border-radius: convertPXtoREM(8);
		display: flex;
		flex-direction: column;
		padding: convertPXtoREM(22);
		gap: convertPXtoREM(20);
		height: 100% !important;
	}
	&__title {
		display: flex;
		gap: convertPXtoREM(16);
		font-weight: 600;
		line-height: 1.5;
		& img {
			width: 44px;
			height: 44px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	&__name {
		margin-bottom: 4px;
	}
	&__location {
		font-size: 12px;
		line-height: 1.33;
		color: var(--dark-gray);
	}
	&__text {
		flex: 1 1 auto;
		font-size: 14px;
		line-height: 1.71;
		height: 100%;
	}
}
