@import "../../styles/mixins.scss";

.reviews {
	background-color: var(--extralight-gray);
	&__body {
		padding: convertPXtoREM(57) 0 convertPXtoREM(45) 0;
	}
	&__title {
		font-size: convertPXtoREM(40);
		margin-bottom: convertPXtoREM(32);
	}
}

.slide {
	border-radius: convertPXtoREM(8);
	box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
	background: var(--white);
	display: flex;
	flex-direction: column;
	padding: convertPXtoREM(22);
	gap: convertPXtoREM(20);
	&__title {
		display: flex;
		gap: convertPXtoREM(16);
		font-weight: 600;
		line-height: 1.5;
	}
	&__name {
		margin-bottom: convertPXtoREM(4);
	}
	&__location {
		font-size: convertPXtoREM(12);
		line-height: 1.33;
		color: var(--dark-gray);
	}
	&__text {
		font-size: convertPXtoREM(14);
		line-height: 1.71;
	}
}

