.reviews {
	background-color: var(--extralight-gray);

	&__title {
		font-size: 40px;
		text-align: center;
		margin-bottom: 32px;
	}
}

.reviews__container {
	padding: 57px 0 45px 0;
}

.swiper {
}

.slide {
	border-radius: 8px;
	box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
	background: var(--white);
	display: flex;
	flex-direction: column;
	padding: 22px;
	gap: 20px;
	&__title {
		display: flex;
		gap: 16px;
		font-weight: 600;
		line-height: 1.5;
	}
	&__name {
		margin-bottom: 4px;
	}
	&__location {
		font-size: 12px;
		line-height: 1.33;
		color: var(--dark-gray);
	}
	&__text {
		font-size: 14px;
		line-height: 1.71;
	}
}


