@import "./null.scss";
@import "./fonts.scss";
@import "./variabals.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "GraphikLCG", sans-serif;
	font-weight: 600;
	line-height: 1.25;
	color: var(--black);
}

h1 {
	font-size: 3.25rem;
	@media screen and (width <= 768px) {
		font-size: 2rem;
	}
	@media screen and (width <= 375px) {
		font-size: 1.5rem;
		line-height: 1.33;
	}
}

h2 {
	font-size: 2.5rem;
	@media screen and (width <= 375px) {
		font-size: 1.5rem;
	}
}

h3 {
	font-size: 2rem;
	line-height: 1.4;
	@media screen and (width <= 768px) {
		font-size: 1.25rem;
	}
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
	line-height: 1.5;
}

a {
	font-family: "GraphikLCG", sans-serif;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: "GraphikLCG", sans-serif;
	color: var(--black);
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}

.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow: hidden;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 80px;
	@media screen and (width <= 768px) {
		gap: 56px;
	}
}
