@import "./null.scss";
@import "./fonts.scss";
@import "./mixins.scss";
@import "./variabals.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "GraphikLCG", sans-serif;
	font-weight: 600;
	line-height: 1.25;
	color: var(--black);
	text-align: center;
}

h1 {
	font-size: convertPXtoREM(52);
	@media screen and (width <= 768px) {
		font-size: convertPXtoREM(32);
	}
	@media screen and (width <= 375px) {
		font-size: convertPXtoREM(24);
		line-height: 1.33;
	}
}

h2 {
	font-size: convertPXtoREM(40);
	@media screen and (width <= 375px) {
		font-size: convertPXtoREM(24);
	}
}

h3 {
	font-size: convertPXtoREM(32);
	line-height: 1.4;
	@media screen and (width <= 768px) {
		font-size: convertPXtoREM(20);
	}
}

h4 {
	font-size: convertPXtoREM(24);
}

h5 {
	font-size: convertPXtoREM(20);
}

h6 {
	font-size: convertPXtoREM(16);
	line-height: 1.5;
}

a {
	font-family: "GraphikLCG", sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "GraphikLCG", sans-serif;
	color: var(--black);
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}

.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow: hidden;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: convertPXtoREM(80);
	@media screen and (width <= 768px) {
		gap: convertPXtoREM(56);
	}
}
