// ограничивающий контейнер
	.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1250px;
	@media screen and (width <= 375px) {
		padding: 0 15px;
		
		
	}
	/* // ширина HD 1276px */
	/* @media screen and (max-width: 85.375em) {
		max-width: 81.75em;
	} */
}

// общие стили кнопки
.button {
	cursor: pointer;
	border-radius: 0.25rem;
	background: var(--primary);
	transition: all 0.3s ease;
	height: 4rem;
	color: var(--white);
	padding: 0 40px;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	&:hover {
		background: var(--primary-hover);
	}
	&:active {
		transform: translateY(1px);
	}
}





@function convertPX($size) {
    @return $size*0.06944444444vw
};


