@import "../../styles/mixins.scss";

.menu {
	@media screen and (width <= 768px) {
		display: none;
	}
	&__item {
		position: relative;
	}
		&__list {
		display: flex;
		gap: convertPXtoREM(24);
	}
	&__link {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-weight: 400;
		font-size: convertPXtoREM(16);
		line-height: 1.75;
		color: var(--white);
		&:hover {
			text-decoration: underline;
		}
		@media screen and (width <= 768px) {
			&::after {
				content: url("../../../public/icon/arrow.svg");
				position: absolute;
				right: 0;
				top: 50%;
				display: block;
				width: 24px;
				height: 24px;
				transform: translateY(-50%);
			}
		}
	}
	&.active {
		display: flex;
		& .menu__list {
			flex-direction: column;
			padding: 0 convertPXtoREM(16);
			gap: 0;
			width: 100%;
		}
		& .menu__item {
			border-top: 2px solid var(--light-gray);
			&:last-child {
				border-bottom: 2px solid var(--light-gray);
			}
		}
		& .menu__link {
			flex-direction: column;
			font-weight: 400;
			font-size: convertPXtoREM(18);
			line-height: 1.78;
			color: var(--gray);
			height: convertPXtoREM(64);
		}
	}
}
