@import "../../styles/mixins.scss";

.howItWorks {
	&__body {
		display: flex;
		gap: convertPXtoREM(32);
		@media screen and (width <= 768px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (width <= 500px) {
			display: block;
		}
	}
	&__title {
		text-align: center;
		margin-bottom: convertPXtoREM(61);
		@media screen and (width <= 768px) {
			margin-bottom: convertPXtoREM(42);
		}
		@media screen and (width <= 375px) {
			margin-bottom: convertPXtoREM(26);
		}
	}
	&__item {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		gap: convertPXtoREM(16);
		@media screen and (width <= 768px) {
			flex-direction: row;
			&:not(:last-child) {
				margin-bottom: convertPXtoREM(32);
			}
		}
	}
	&__img {
		width: convertPXtoREM(72);
		height: convertPXtoREM(72);
		@media screen and (width <= 768px) {
			width: convertPXtoREM(56);
			height: convertPXtoREM(56);
		}
	}

	&__subtitle {
		margin-bottom: convertPXtoREM(4);
	}
	&__text {
		font-size: convertPXtoREM(14);
		line-height: 1.71;
		color: var(--dark-gray);
	}
}
