@import "../../styles/mixins.scss";

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: background-color 0.3s ease;
	&.active {
		background-color: var(--white);
	}
	&__body {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: convertPXtoREM(20) 0;
		height: convertPXtoREM(80);
	}
	&__logo {
		display: flex;
		gap: convertPXtoREM(9);
		& span {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: convertPXtoREM(20);
			line-height: 1.2;
			color: var(--white);
			transition: all 0.3s ease;
			&.active {
				color: var(--black);
			}
		}
		& svg {
			width: convertPXtoREM(37);
			height: convertPXtoREM(24);
			fill: none;
		}
	}
	&__overlay {
		@media screen and (width > 768px) {
			display: none;
		}
		background-color: var(--white);
		position: absolute;
		top: -100vh;
		left: 0;
		width: 100vw;
		height: 100vh;
		transition: all 0.3s ease;
		&__list {
			display: flex;
			gap: convertPXtoREM(24);
		}
		&__link {
			font-weight: 400;
			font-size: convertPXtoREM(16);
			line-height: 1.75;
			color: var(--white);
			&:hover {
				text-decoration: underline;
			}
		}
		&.active {
			top: convertPXtoREM(80);
		}
	}
}

.burger {
	@media screen and (width > 768px) {
		display: none;
	}
	&__line {
		position: relative;
		width: convertPXtoREM(62);
		height: convertPXtoREM(62);
		&::before,
		&::after {
			background-color: var(--black);
			position: absolute;
			width: 22px;
			left: calc(50% - 22px / 2);
			height: 2px;
			border-radius: 0.25rem;
			transition: all 0.3s ease;
		}
		&::before {
			content: "";
			top: calc(50% - 10px / 2);
		}
		&::after {
			content: "";
			top: calc(50% + 10px / 2);
		}
		&.active::before {
			transform: rotate(45deg);
			top: 50%;
		}
		&.active::after {
			transform: rotate(-45deg);
			top: 50%;
		}
	}
}
