@import "../../styles/mixins.scss";

.footer {
	min-height:convertPXtoREM(88);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: convertPXtoREM(18);
	line-height: 1.78;
	color: var(--black);
	border-top: 1px solid var(--light-gray);
}


