/* шрифты */
@font-face {
	font-family: "GraphikLCG";
	src:
		local("GraphikLCG"),
		url("../public/fonts/GraphikLCG-Regular.eot") format("embedded-opentype"),
		url("../public/fonts/GraphikLCG-Regular.ttf") format("truetype"),
		url("../public/fonts/GraphikLCG-Regular.woff") format("woff"),
		url("../public/fonts/GraphikLCG-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* переменнеые */
:root {
	--font-family: "Graphik LCG", sans-serif;

	--primary: #2a6cea;
	--black: #191c1f;
	--dark-gray: #5e646a;
	--gray: #83898f;
	--mid-grey: #c2c8cd;
	--light-gray: #eceff2;
	--extralight-gray: #f6f8fa;
	--white: #fff;
	--dangerous: #f13636;
	--green-success: #25cd82;
	--primary-hover: #397dff;
	--primary-disabled: #abcae6;
}


/* Обнуление */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	box-sizing: border-box;
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-family);
	font-weight: 600;
	line-height: 1.25;
	color: var(--black);
}

h1 {
	font-size: 3.25rem;
	/* @media screen and (max-width: 75em) {
		font-size: 2rem;
	} */
}

h2 {
	font-size: 2.5rem;
	/* @media screen and (max-width: 75em) {
		font-size: 1.75rem;
	} */
}

h3 {
	font-size: 2rem;
	line-height: 1.4;
	/* @media screen and (max-width: 75em) {
		font-size: 1.5rem;
	} */
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
	line-height: 1.5;
}

a {
	font-family: var(--font-family);
}

/* стили */

body {
	font-family: var(--font-family);
	color: var(--black);
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}

.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow: hidden;
}

/* ограничивающий контейнер */
[class*="__container"] {
	margin: 0 auto;
	padding: 0 15px;
	/* // ширина FullHD 1420px */
	max-width: 1243px;

	/* // ширина HD 1276px */
	/* @media screen and (max-width: 85.375em) {
		max-width: 81.75em;
	} */
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1243px;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 80px;
}

/* // общие стили кнопки */
.button {
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: var(--light-gray);
	transition: background-color 0.3s ease 0s;
	height: 4rem;
	/* width: 3rem; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	color: var(--black);
	padding: 0 40px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	/* &:hover {
		background-color: $light;
	}
	&:active {
		background-color: $dark;
	} */
}

