/* шрифты */
@font-face {
	font-family: "GraphikLCG";
	src:
		local("GraphikLCG"),
		url("../public/fonts/GraphikLCG-Regular.eot") format("embedded-opentype"),
		url("../public/fonts/GraphikLCG-Regular.ttf") format("truetype"),
		url("../public/fonts/GraphikLCG-Regular.woff") format("woff"),
		url("../public/fonts/GraphikLCG-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* переменнеые */
:root {
	--font-family: "Graphik LCG", sans-serif;

	--primary: #2a6cea;
	--black: #191c1f;
	--dark-gray: #5e646a;
	--gray: #83898f;
	--mid-grey: #c2c8cd;
	--light-gray: #eceff2;
	--extralight-gray: #f6f8fa;
	--white: #fff;
	--dangerous: #f13636;
	--green-success: #25cd82;
	--primary-hover: #397dff;
	--primary-disabled: #abcae6;
}


/* Обнуление */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	box-sizing: border-box;
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-family);
	font-weight: 600;
	line-height: 1.25;
	color: var(--black);
}

h1 {
	font-size: 3.25rem;
	/* @media screen and (max-width: 75em) {
		font-size: 2rem;
	} */
}

h2 {
	font-size: 2.5rem;
	/* @media screen and (max-width: 75em) {
		font-size: 1.75rem;
	} */
}

h3 {
	font-size: 2rem;
	line-height: 1.4;
	/* @media screen and (max-width: 75em) {
		font-size: 1.5rem;
	} */
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
	line-height: 1.5;
}

a {
	font-family: var(--font-family);
}

/* стили */

body {
	font-family: var(--font-family);
	color: var(--black);
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}

.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow: hidden;
}

/* ограничивающий контейнер */
[class*="__container"] {
	margin: 0 auto;
	padding: 0 15px;
	/* // ширина FullHD 1420px */
	max-width: 1243px;

	/* // ширина HD 1276px */
	/* @media screen and (max-width: 85.375em) {
		max-width: 81.75em;
	} */
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1243px;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 80px;
}

/* // общие стили кнопки */
.button {
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: var(--light-gray);
	transition: background-color 0.3s ease 0s;
	height: 4rem;
	/* width: 3rem; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	color: var(--black);
	padding: 0 40px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	/* &:hover {
		background-color: $light;
	}
	&:active {
		background-color: $dark;
	} */
}


.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.header__container {}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	height: 80px;
}

.header__logo {}



.header__menu {
	/* display: flex; */
	/* gap: 20px; */
}

.menu__list {
	display: flex;
	gap: 24px;
}

.menu__item a {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	color: var(--white);
}





.header__link {
	color: var(--white);
}

/* .header__link:hover{
	text-decoration: underline;
}

.header__link:active{
	color: var(--orange);
}

.header__button{
	color: var(--white);
}

.header__button:hover{
	text-decoration: underline;
}

.header__button:active{
	color: var(--orange);
}

.header__burger{
	display: none;
} */



.firstscreen {
	min-height: 100dvh;
	background: linear-gradient(rgba(42, 108, 234, 0.8), rgba(42, 108, 234, 0.8)), url(../public/img/firstscreen.png) no-repeat center/cover;
	display: flex;
	align-items: center;
}

.firstscreen__body {
	text-align: center;
	margin: 0 18%;
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.firstscreen__title {
	color: var(--white);
	margin-bottom: 18px;
}

.firstscreen__text {
	color: var(--white);
	line-height: 1.78;
	margin-bottom: 92px;
}

.firstscreen__button {
	line-height: 1.78;
}

.howItWorks {}

.howItWorks__body {
	display: flex;
	gap: 32px;
}

.howItWorks__title {
	text-align: center;
}

.howItWorks__item {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.howItWorks__img {
	width: 72px;
	height: 72px;
}

.howItWork__subtitle {
	margin-bottom: 4px;
}

.howItWork__text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--dark-gray);
}


.credits__body {
	display: flex;
	align-items: center;

	&>* {
		flex: 1 1 0;
	}
}

.credits__title {
	margin-bottom: 18px;
}


.credits__text p {
	line-height: 1.75;
	color: var(--dark-gray);

	&:not(:last-child) {
		margin-bottom: 24px;
	}
}


.reviews {
	background-color: var(--extralight-gray);
}

.reviews__container {
	padding: 57px 0 45px 0;
}

.reviews__title {
	font-size: 40px;
	text-align: center;
	margin-bottom: 32px;
}

.swiper {}

.swiper__slide {
	border-radius: 8px;
	box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
	background: var(--white);
	display: flex;
	flex-direction: column;
	padding: 22px;

}

.slide__title {
	display: flex;
	gap: 16px;
	font-family: var(--font-family);
	font-weight: 600;
	line-height: 1.5;
}

.slide__location {
	font-size: 12px;
	line-height: 1.33;
	color: var(--dark-gray);
}

.slide__text {
	font-size: 14px;
	line-height: 1.71;
}









.footer {
	min-height: 88px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	line-height: 1.78;
	color: var(--black);
}